@use '../base/fonts.scss' as fonts;

@mixin pretitle-100{
  // font-family: "Dawning of a New Day", cursive;
  font-family: fonts.$font-secondary;
  font-size: 2rem;
  text-align: center;
  color: #202020;
};

@mixin title-100{
  // font-family: "Encode Sans Semi Expanded", sans-serif;
  font-family: fonts.$font-primary;
  font-size: 4rem;
  text-align: center;
  color: #202020;
};