@use '../shared/titles.scss' as titles;
@use '../base/variables.scss' as vars;

main{
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.home__hero {
  height: 200dvh;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  text-align: center;
  margin-top: 10dvh;
  
  .home__hero__pretitle {
    @include titles.pretitle-100;
  };
  
  .home__hero__title {
    @include titles.title-100;
  };
}

.home__galleries{
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100dvw;
  height: 100dvh;
  overflow: visible;
  position: fixed;
  top: 0;
  z-index: 0;

  .home__gallery__container__top{
    align-items: end;
  };

  .home__gallery__container__bottom{
    align-items: start;
  };

  .home__gallery__container {
    display: flex;
    flex-wrap: nowrap;
    align-self: center;
    height: 100dvh;
    // align-items: center;
    justify-content: center;
    overflow: hidden;
    gap: 1rem;
  
    .home__gallery__image__content {
      display: flex;
      height: calc(50dvh - 2rem);
      width: 55%;
      border-radius: 20px;
      overflow: hidden;
      
      .home__gallery__image {
        object-fit: cover;
        object-position: center;
        display: flex
      };
    };
    
    // .top__image {
      // width: 105dvw;
      // height: 105dvh;
    // };

    // .bottom__image {
    //   width: 70dvw;
    //   height: 65dvh;
    // };
  };  
};

.home__footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100dvh;
  z-index: 2;
  gap: 2rem;

  .home__footer__title {
    @include titles.title-100;
    font-weight: 600;
    color: vars.$color-white;
  };

  .home__footer__copy {
    width: 35dvw;
    @include titles.copy-050;
    color: vars.$color-white;
    line-height: 1.5;
  };
};